* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #ebe8e2;

}

.heading {
    text-align: center;
    margin-top: 25px;
}

.heading h1 {
    font-size: 50px;
    color: black;
    margin-bottom: 10px;
}

.heading p {
    font-size: 20px;
    color: black;
    margin-bottom: 10px;
    margin-left: 85px;
    margin-right: 85px;
}

.card-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    background: #baac94;
    width: 450px;
    height: 650px;
    margin: 25px;
    border-radius: 5px;
}

.card-image {
    background-color: aqua;
    width: 100%;
    height: 50%;
    /* height: 220px; */
    margin-bottom: 15px;
    background-size: cover;
    border-radius: 5px 5px 0 0;
}

.car-1 {
    background-image: url(/assets/img/grandsummithall.jpg);
}

.car-2 {
    background-image: url(/assets/img/royalcresthall.jpg);
}
.car-3 {
    background-image: url(/assets/img/eliteoasishall.jpeg);
}

.card h2 {
    padding: 10px;
    color: #1a1818af;
    text-align: center;
}

.card p {
    padding: 10px;
    color: #1a1818af;
    text-align: left;
}

.card a {
    background-color: #735F32;
    color: white;
    padding: 10px 10px;
    display: block;
    text-align: center;
    margin: 20px 60px;
    text-decoration: none;
    border-radius: 10px;
}

.card:hover {
    cursor: pointer;
    transform: scale(1.03);
    transition: all 1s ease;
}